*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


main {
    display: flex;
    background-color: aqua;
    flex-direction:column;
    align-items:baseline;
    gap: 10px;
    height: 70vh;
    width: 500px;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    padding: 20px;
}

div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

#button {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

footer {
    margin-top: auto;
    align-items:center;
    width: 100%;
}